{% extends 'baselayout.html.twig'  %}


{% block title %}Edit Room  {% endblock %}

{% block main %}
    <h1>Edit Room</h1>

    {{ include('couette_et_cafe/user/room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('room_index') }}">back to list</a>

    {{ include('couette_et_cafe/user/room/_form.html.twig') }}
{% endblock %}
